<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/_head :: head">
</head>
<body>
<div th:insert="fragments/_header :: header"></div>

<div id="content">
    <h2>Golf Croquet Terms</h2>

    <!-- Create a table of GlossaryTerm objects here -->
    <table class="glossary">
        <tr th:each="terms : ${termsStuff}" >
            <td>
                <h3 th:text="${terms.term}">TERM</h3>
                <span th:text="${terms.definition}">DEFINITION</span>
            </td>
            <td>
                <span th:text="${terms.regulation}">REGULATION</span>
            </td>
        </tr>
    </table>

</div>

</body>
</html>